/* GROUP SELECTORS
        1 : (*) = tüm etiketler
        2 : (p) = tüm p etiketleri
        3 : (div p) = tüm içindeki tüm p etiketleri
        4 : (div,p) = tüm div ve tüm p etiketleri
        5 : (div > p) = üst etiketi div olan p
        6 : (p ~ div) = p ile aynı seviyede tüm div
        7 : (p + div) = p etiketinden sonra gelen tüm div
 */
/* {
    border: 2px solid blue;
 }/

 /* p{
    border: 2px solid red;
 } /

/ .container div.box{
    border: 2px solid black;
}

 div p {
    border: 2px solid orange;
 } /

/ div,p{
    border: 2px solid green;
}
div.box,p{
    border: 2px solid grey;
} /

/ div > p{
    border: 2px solid brown;
} /

/ p~div{
    border: 2px solid aquamarine;
} /

/ p+div{
    border: 2px solid purple;
} */

